@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 228, 15%, 6%;
    --foreground: 0 0% 98%;
 
    --card: 228, 9%, 10%;
    --card-foreground: 0 0% 98%;
 
    --muted: 179 42% 23.400000000000002%;
    --muted-foreground: 179 8.4% 57.8%;

    --popover: 179 48.2% 10.14%;
    --popover-foreground: 179 8.4% 98.9%;

    --border: 179 42% 23.400000000000002%;
    --input: 179 42% 23.400000000000002%;

    --primary: 179 84% 78%;
    --primary-foreground: 179 8.4% 7.800000000000001%;

    --secondary: 179 42% 23.400000000000002%;
    --secondary-foreground: 179 8.4% 98.9%;

    --accent: 179 42% 23.400000000000002%;
    --accent-foreground: 179 8.4% 98.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 179 8.4% 98.9%;

    --ring: 179 84% 78%;

    --radius: 0.5rem;
  }
 

}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}